#root {
  display: flex;
  height: 100%;
  width: 100%;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

html,
body {
  height: 100%;
  margin: 0;
  line-height: 1.5;
  /* color: #ffffff; */
  width: 100%;
  /* background-color: #f6f7eb; */
}

main{

  height: 100%;
  width: 100%;
  padding: 2%;
}


/* width */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px #1e2019;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #1677ff;
    border-radius: 5px;
}

/* .ant-card-meta-title{
    white-space: break-spaces;
} */

/* .ant-tabs-content > .ant-tabs-content-top{
    height: 100%;
} */
.ant-tabs-content{
    height: 100%;
}