import datetime
import pendulum
import os

import requests
from airflow.decorators import dag, task


@dag(
    schedule_interval=None,
    start_date=pendulum.datetime(2021, 1, 1, tz="UTC"),
    catchup=False,
    dagrun_timeout=datetime.timedelta(minutes=60),
    tags=['MLOps']
)
def {{experiment_name}}():
{% for dag_op in dags_ops %}

    {{dags_ops[dag_op] | indent(4)}}

{% endfor %}
{% for fun_op in fun_op_def %}

    {{fun_op_def[fun_op] | indent(4)}}_op = {{fun_op_def[fun_op]}}_fun()

{% endfor %}
{% for dag_order_list in order_list %}

    {{dag_order_list | indent(4)}}

{% endfor %}

dag = {{experiment_name}}()