
.cardwrapper{
    padding-top: 0.5%;
    background-color: #1677ff;
    min-width: 25vw;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    // overflow: auto;
    max-width: 25vw;
    // min-height: 15vh;
    // max-height: 15vh;

    // div {
    // background-color: #316E5F;
        // margin-top: 1rem;
        // border-bottom: 0;
    // }

    // .customcard{
    //     border-top: 1rem;
    // }

    // ::-webkit-scrollbar-thumb{
    //     background: red;
    //     // width: 10px;
    // }
}