
.workspace{
    // height: 100%;
    // height: 90vh;
    height: 100%;
    position: relative;
    width: 100%;

    top: 1%;
    // width: 90%;
    // margin-bottom: 4%;
    // margin-left: 0.5%;
    margin-right: 0.5%;
    padding: 0.5%;
    // margin-bottom: ;
    
    // box-shadow: inset 0 0 2px #1e2019;
    // border-radius: 10px;
    
    // background-color: #141414;   
}

.ant-tabs-content .ant-tabs-content-top{

// &.ant-tabs-content {
    // width: 100%;
    height: 100%;
}