@task
def read_table_{{input[0]}}_fun():

    inifile = '{{ inifile | default("NA",true) }}'
    data_set_name='{{ input[0] | default("NA",true) }}'
    datasets_data_base= '{{ datasets_data_base | default("datasets",true) }}'
    datasquema_data_base = '{{ datasquema_data_base | default("squemas",true) }}'
    output_dataset= '{{output[0]|default("NA",true)}}'
    sep= '{{sep|default(",",true)}}'

    print( """ Fetching data with parameters:
                data-set-name: {} 
                dataset-data-base: {}
                datasquema-data-base: {}
                This output a dataset with name {}""".format(data_set_name,datasets_data_base,datasquema_data_base
                                                            , output_dataset) )

    #Here we should change to get the host from template arguments and better way to send arguments
    url = 'http://ejecutor:4001/ejecutarpython/csv_to_postgres.py'
    body = {'parametros': {'csv':'{}.csv'.format(data_set_name),'table_output':output_dataset,'ini_file':inifile,'sep':sep} }

    x = requests.post(url, json = body)

    print(x.text)