
.menubutton{
    position: relative;
    top: 50%;
    // width: fit-content;
    // left: 10%;

    display: flex;

    justify-content: flex-end;

    // flex-flow: column-reverse nowrap;
    // right: auto;
}