
.menubutton{
    position: absolute;
    bottom: 6%;

    // width: fit-content;
    // left: 10%;

    display: flex;

    // justify-content: flex-end;

    // flex-flow: column-reverse nowrap;
    // right: auto;
}