@task
def correlation_{{input[0]}}_fun():

    inifile = '{{ inifile | default("NA",true) }}'
    in_dataset = '{{ input[0] | default('NA',true) }}'
    out_graph = '{{ output[0] | default('NA',true) }}'

    print( """ Generating correlaction graph with parameters:
                in_dataset: {} 
                out_graph: {}
                """.format(in_dataset,out_graph) )

    #Here we should change to get the host from template arguments and better way to send arguments
    url = 'http://ejecutor:4001/ejecutarpython/get_correlation_graph.py'
    body ={'parametros': {'table_input':in_dataset,'output':'{}.jpg'.format(out_graph),'ini_file':inifile} }

    x = requests.post(url, json = body)

    print(x.text)