@task
def table_to_image_{{input[0]}}_{{op_name}}_fun():

    inifile = '{{ inifile | default("NA",true) }}'
    in_dataset = '{{ input[0] | default('NA',true) }}'
    image_out = '{{ output[0] | default('NA',true) }}'
    version = '{{ version | default('NA',true)}}'
    {# kmin = {{ kmin | default('NA',2)}}
    kmax = {{ kmax | default('NA',6)}} #}

    {# print( """ Maping data with parameters:
                in_dataset: {}
                out_dataset: {}
                map: {}""".format(in_dataset,out_dataset,columns) ) #}

    #Here we should change to get the host from template arguments and better way to send arguments
    url = 'http://ejecutor:4001/ejecutarpython/table_to_image.py'
    body ={'parametros': {'table_input':in_dataset,'image_output':image_out,'ini_file':inifile,'version':version} }

    x = requests.post(url, json = body)


    print(x.text)